/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
body {
  background-color: #2ecc71;

}

.loaderClass {
  margin-top: -25px;
}

.arrows{
  cursor: pointer;
}

.loaderClass2 {
  display: inline-block;
  width: 0%;
  height: 44px;
}

.container {
  min-width: 400px;
}
